Port 22
ListenAddress 127.0.0.1

PermitRootLogin yes
PermitEmptyPasswords yes

AllowTcpForwarding yes
AllowStreamLocalForwarding yes
GatewayPorts yes
X11Forwarding yes

PidFile /run/sshd/sshd.pid

Subsystem sftp /usr/lib/ssh/sftp-server

ChrootDirectory none